img {
    height: 100px;
    width: 100px;
}

li {
    width: 200px;
    padding: 3rem;
}

ul {
    list-style: none;
    color: black;
    padding: 6rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;


}

